<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Número 1</title>
    <link rel="stylesheet" href="../../Assets/Css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <div class="container">

        <header class="header">
            <img src="../../Assets/Img/icon.png" alt="Icon">
        </header>
        <nav class="navBar">
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="../../Views/Pokemones/pokemon.html">Pokemones</a></li>
                <li><a href="../../Views/BuscarPokemon/BuscarPokemon.html">Buscar</a></li>
            </ul>
        </nav>

        <div class="content">
            <div class="moduloBuscar">
                <input type="text" id="namePokemon" class="namePokemon">
                <button id="buscarPokemon">Buscar</button>
                <div id="moduloBuscar" class="buscar"></div>
            </div>
        </div>

        <footer class="footer" >
            <h1>Copyright &#169; Cristhian Ignacio López</h1>
        </footer>

    </div>
    
</body>
<script src="../../Assets/Js/buscarPokemon.js"></script>
</html>